/*
Estilos da pagina index.html*/

.background-color

.center {
    text-align: center;
}

.justify{
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
    justify-content: flex-end;
    text-decoration: none;
    
}

#menu li a {
    text-decoration: none;
    color: rgb(127, 127, 199);
    font-size: 22px;
}
#menu li a:hover{
    color: rgb(50, 218, 17)
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh{
    width: 540px;
    height: 370px;
}
.tm-social {
width: 50px;
height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

/*Estilos da pagina contato.html
*/
.ml-50 {
    margin-left: 50px;
}